html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgb(35,204,1); */
    /* background: linear-gradient(55deg, rgba(35,204,1,1) 22%, rgba(232,189,234,1) 37%, rgba(248,152,92,1) 57%, rgba(232,189,234,1) 73%, rgba(248,152,92,1) 100%); */
    touch-action: none;
    font-family: "Archivo" !important;
    font-size: 16px;
  font-weight: 400;
  line-height: 1.2 !important;
  color: #fff !important;
}

@font-face {
  font-family: "Archivo";
  src: url("../public/fonts/Archivo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AudimatMonoLight";
  src: url("../public/fonts/AudimatMonoLight.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SalmaPro-Medium";
  src: url("../public/fonts/SalmaPro-Medium.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.font-archivo {
  font-family: "Archivo";
}
.font-audimat {
  font-family: "AudimatMonoLight";
}
.font-salma {
  font-family: "SalmaPro-Medium";
}
.text-highlight {
  background-color: #00FF39;
  color: #000;
}
h1{
  font-size: 3.5rem !important;
  line-height: 1 !important;
}

.projectsSwiper .swiper-pagination {
  text-align: left;
  padding: 1rem;
}
.projectsSwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 3px;
  background: transparent;
  opacity: 1;
  border: 1px solid #fff;
}
.projectsSwiper .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
#navigation{
    position: fixed;
    top: 0;
    right: 2%;
    z-index: 1;
    width: 10%;
}
#navigation .wrapper{
  flex-wrap: wrap;
}

#navigation .link p{
  opacity: 0;
  transition: all 300 ease;
}
#navigation .link:hover p{
  opacity: 1;
}
#navigation .col-9{
}
#navigation.true img{
    height: 50% !important;
}
#navigation.true .col-9{
    background: transparent;
}
.background{
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('../public/images/gradient-01.jpg');
  background-position: center;
  background-size: cover;
  z-index: -9999;
}
#team{
  /* background-color: #E0DCD3; */
  background-color: #000;
}


.navModal .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: transparent !important;
  background-clip: padding-box;
  border: none !important;
  padding: 0!important;
}
.modal-backdrop{
  background-color: #00FF39 !important;
  opacity:0.7 !important;
}
.navModal .modal-dialog{
  margin:0 !important;
}
.navModal .modal-content a,.navModal .modal-content button{
  color: #fff;
  font-size: 3.5rem;
  text-align: left;
  line-height: 1;
  background: transparent;
  outline: 0;
  border: none;
  padding: 0;
  -webkit-transition: all 0.3s 0s ease-in;
  -moz-transition: all 0.3s 0s ease-in;
  -o-transition: all 0.3s 0s ease-in;
  transition: all 0.3s 0s ease-in;
  text-decoration: none;
}
.navModal .modal-content a:hover, .navModal .modal-content button:hover{
  color: #000;
  -webkit-text-stroke: 1px #fff;
  -webkit-transition: all 0.3s 0s ease-out;
  -moz-transition: all 0.3s 0s ease-out;
  -o-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
}